@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  max-width: 1500px !important;
  margin: 0 auto;
  padding: 0 12px;
}
